body {
    background-image: url("/images/newpaper.jpg");
}
.navbar navbar-expand-lg {
    color: black;
}
.navbar-brand {
    font-size: 50px;
    font-weight: bold;
}
p {
    font-weight: bold;
    font-size: 20px;
}